/*

0       - 600px:        Phone
600px   - 900px         Tablet portrait
900ox   - 1200px        Tablet landscape
[1200px - 1800px]       is where our normal style apply
1800px +                Big desktop 

$breakpoint argument choices
-phone
- tab-port
- tab-land
- big-desktop

1em=16px

1-- 600/16px=37.5em
2-- 900/16px=56.25em
3-- 1200/16px=75em
4-- 1800/16px=112.5em

ORDER:  Base + typography > general layout + grid > page layout > components

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 52.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #de4ff1;
  color: #fff;
}

@font-face {
  font-family: "Icon";
  src: url("../icons/icomoon.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Div Kryesor */
.container {
  display: grid;
  grid-template-columns: 0.7fr 1.8fr 0.5fr;
  /* grid-template-rows: 0.4fr 0.8fr 1.8fr; */
  gap: 0px 0px;
  grid-auto-flow: row;
}

/* Logoja e Instagramit */
.logo {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  padding-left: 6rem;
  display: flex;
  align-items: center;
}

.logo-icon {
  font-family: "Icon";
  font-size: 3.5rem;
}

.logo-instagram {
  width: 13rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

/* Nav Inputi*/
.input {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: rgb(255, 255, 255);
  padding: 4rem 2rem;
  align-items: center;
  display: flex;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  margin-right: 2rem;
}

.search__input {
  color: rgb(167, 162, 162);
  background-color: #e2dfdf;
  border: none;
  padding: 1rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.25rem;
  margin-top: -0.4rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #e2dfdf;
}

.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}
.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: #9b9999;
}

/* Input Butoni */
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.5em 1.4em 0.5em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    40deg,
    rgb(240, 163, 21) 0%,
    rgb(209, 62, 235) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #a7aaa898;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* Ikonat dhe Hamburger Menu */
.icons {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 4rem 4rem;
}

.logo-icons {
  width: 4.6rem;
  height: 4.5rem;
  font-family: "Icon";
  font-size: 2.8rem;
}

.logo-icons:not(:last-child) {
  padding-left: 0.8rem;
  margin-right: 2.5rem;
  background-color: rgb(235, 235, 235);
}

.rounded {
  border: 1px solid #e2dfdf;
  border-radius: 50%;
}

/* User Profile */
.user {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-img {
  width: 8rem;
  border-radius: 50%;
  border: 3px solid rgb(209, 62, 235);
}

.heading-primary,
.heading-secondary {
  text-align: center;
}

.heading-primary {
  font-size: 1.5rem;
}

.heading-secondary {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(117, 117, 117);
}

/* User Medias */
.user-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0rem;
}

.user-num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.user-post {
  font-size: 1rem;
}

/* Left Bar */
.sidebar {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 0 auto;
}

.sidebar-icons {
  width: 4.6rem;
  height: 4.5rem;
  font-family: "Icon";
  font-size: 2.8rem;
  margin-top: 1rem;
  color: rgb(117, 117, 117);
}

.sidebar-flex {
  display: flex;
  padding: 0.2rem 5rem;
}

.sidebar-tag {
  font-size: 1.3rem;
  margin-top: 2.5rem;
  color: rgb(117, 117, 117);
}

/* TRending */
.trending {
  grid-column: 3/4;
  grid-row: 2/3;
  /* background-color: #ad5389 */
}

.trendings-gallery {
  width: 20rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.trending-head {
  text-align: center;
}

.blublu {
  width: 100%;
  border-radius: 10px;
}

.p4 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.p2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.p3 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.p1 {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* Stories */
.stories {
  padding: 1rem 3rem;
  background-color: #f8f8f8;
}

.stories-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stories-heading {
  font-size: 2rem;
}

.stories-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories-p {
  font-size: 1.5rem;
}

.stories-icons {
  width: 4rem;
  font-family: "Icon";
  font-size: 2rem;
  color: rgb(0, 0, 0);
  padding-left: 0.5rem;
}

.stories-body {
  width: 75rem;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* padding: 2rem 4rem; */
  flex-wrap: nowrap;
}

.stories-img {
  width: 8rem;
  border-radius: 50%;
  border: 3px solid rgb(209, 62, 235);
  margin: 0.5rem;
}

.stories-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories-name {
  font-size: 1.1rem;
  color: #9b9999;
}

.stories-col:hover .stories-name {
  color: rgb(209, 62, 235);
}

/* Feeds */
.stories-feeds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
}

.stories-a-grey,
.stories-a {
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.3rem;
  color: #333;
  border: 1px solid #f8f8f8;
}

.stories-a-grey {
  color: rgb(144, 144, 144);
  border: 1px solid rgb(216, 214, 214);
}

.stories-a-grey:hover,
.stories-a:hover {
  color: rgb(209, 62, 235);
  border: 1px solid rgb(209, 62, 235);
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 62, 235);
}

/* Post */
.post {
  padding: 0rem 5rem 0rem 5rem;
  background-color: #f8f8f8;
  grid-column: 2/3;
  grid-row: 3/4;
}

.post-content {
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
}

.post-profile {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post-profile-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-primary {
  font-size: 1.5rem;
}

.head-secondary {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(117, 117, 117);
}

.post-img-profile {
  width: 7rem;
  border-radius: 50%;
  /* border: 3px solid rgb(209, 62, 235); */
  margin: 0.5rem;
}

.post-image {
  width: 100%;
  border-radius: 10px;
}

.post-reactions {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.post-icons {
  padding-right: 0.8rem;
  font-family: "Icon";
  font-size: 2rem;
}

.post-tag {
  font-size: 1.5rem;
}

.hr {
  border: 1px solid #eceaea;
}

.post-text {
  padding: 1rem 10rem 1rem 1rem;
  font-size: 1.8rem;
}

.post-link {
  text-decoration: none;
  color: #333;
}

.post-link:hover {
  color: rgb(209, 62, 235);
  text-decoration: underline;
}

.post-comment {
  padding-top: 1rem;
  display: flex;
}

.comment {
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-input {
  background-color: #f8f8f8;
  border: none;
  padding-left: 2rem;
  color: #888;
  width: 50%;
  height: 2rem;
}

.comment-icons {
  color: #888;
}

/* Suggestions */
.suggestions {
  padding: 2rem;
}

.sugg {
  padding-bottom: 1rem;
}

/* Activity */
.activity {
  padding: 2rem 1rem;
}

.activity-trends {
  background-color: #f8f8f8;
  padding: 1rem;
}

.activity-pics {
  display: flex;
}

.activity-img {
  box-sizing: content-box;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: 3px solid #fff;
}

.activity-img:not(:last-child) {
  margin-right: -1.5rem;
}

.activity-follower {
  display: flex;
  flex-direction: column;
}

.active-first {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.activity-head-1 {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.activity-head-2 {
  font-size: 2.3rem;
}

.activity-head-3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.activity-p {
  font-size: 1.4rem;
  padding: 0.5rem;
}

.activity-a {
  color: #de4ff1;
}
